@font-face {
  font-family: Fregat;
  src: url('../../assets/fonts/Fregat_regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Fregat;
  src: url('../../assets/fonts/Fregat_bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Fregat;
  src: url('../../assets/fonts/Fregat_bold_italic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Fregat;
  src: url('../../assets/fonts/Fregat_italic.otf');
  font-weight: normal;
  font-style: italic;
}

body{
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-color: #151417;
  color: white;
}

.logoplane {
  width: max-content;
  backdrop-filter: blur(10px);
  vertical-align: middle;
	padding: 20px;
	height: max-content;
	border-radius: 20px;
	background: rgba(37,37,38,0.43);
	background-blend-mode: normal;
	box-shadow: 8px 12px 15px -7px rgb(0, 0, 0);
  min-height: 54px;
}

.backg {
  position: fixed;
  filter: blur(60px);
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
