@font-face {
  font-family: Fregat;
  src: url('../../assets/fonts/Fregat_bold.otf'),
  url('../../assets/fonts/Fregat_bold_italic.otf'),
  url('../../assets/fonts/Fregat_italic.otf'),
  url('../../assets/fonts/Fregat_regular.otf')
}

body{
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-color: #151417;
  color: white;
}

.logoplane {
  width: max-content;
	/* backdrop-filter: blur(5px); */
	padding: 20px;
	height: max-content;
	border-radius: 20px;
	background: rgba(37,37,38,0.43);
	background-blend-mode: normal;
	box-shadow: 8px 12px 15px -7px rgb(0, 0, 0);
  min-height: 53px;}

.backg {
  position: fixed;
  filter: blur(60px);
  height: 100vh;
  width: 100%;
  z-index: -1;}
