@font-face {
  font-family: Fregat;
  src: url('fonts/Fregat_bold.otf'),
  url('fonts/Fregat_bold_italic.otf'),
  url('fonts/Fregat_italic.otf'),
  url('fonts/Fregat_regular.otf')
}

body {
  margin: 0;
  font-family: Fregat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
